<!-- templates/escola/base.html -->


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competências</title>
</head>
<body>
    <header>
        <h1>Competências</h1>
        <nav>
        </nav>
        <hr><hr>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
         <a href="{% url 'novo_competencia' %}"><button>Inserir nova Competencia</button></a>
            {% for competencia in competencias %}
                <article>
                <!-- cada competencia é um article, 
                com um header com o nome do competencia e do professor, 
                e uma section com a lista de competencias-->
                    <header>
                        <h3>{{ competencia.nome }}</h3>
                        <p>Descrição: {{ competencia.descricao }}</p>
                        <p>Avaliação: {{ competencia.expertise }}/5</p>
                        <a href="{% url 'editar_competencia' competencia.id %}"> <button>Editar informação da Competencia</button></a>
                        <a href="{% url 'apagar_competencia' competencia.id %}"> <button>Apagar a Competencia</button></a>
                    </header>
                </article>
                <hr><hr>
                {% endfor %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>