<!-- templates/escola/base.html -->


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Jams</title>
</head>
<body>
    <header>
        <h1>Game Jams</h1>
        <p>Várias game jams em que participei :D</p>
        <nav>
        </nav>
        <hr><hr>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
            {% for gamejam in gamejams %}
                <article>
                    <h2>{{gamejam.nome}}</h2>
                    <p>Nome do meu jogo: {{gamejam.nomeJogo}}</p>
                    <a href = "{{gamejam.linkItch}}">Link itch.io</a>
                    <p>Descrição: {{gamejam.descricao}}</p>
                </article>
                <hr></hr>
            {% endfor %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>