<!-- templates/escola/base.html -->

{% extends "portfolio/base.html" %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Licenciaturas</h1>
        <nav>
            <a href="{% url 'licenciaturas' %}">Licenciaturas</a>   
            <a href="{% url 'projetos' %}">Licenciaturas</a>   
            <a href="{% url 'gamejams' %}">Licenciaturas</a>   
            <a href="{% url 'makingofs' %}">Licenciaturas</a>   
            <a href="{% url 'tecnologias' %}">Licenciaturas</a>   
            <a href="{% url 'competencias' %}">Licenciaturas</a>   

        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>