<!-- templates/escola/base.html -->


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Making Of</title>
</head>
<body>
    <header>
        <h1>Making Of this Site</h1>
        <nav>
        </nav>
        <hr><hr>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
         <p>Em breve vou adicionar aqui o makingof de forma bonitinha</p>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>