<!-- templates/escola/base.html -->


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
</head>
<body>
    <header>
        <h1>Projetos</h1>
        <nav>
        </nav>
        <hr><hr>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
            <a href="{% url 'novo_projeto' %}"><button>Inserir novo Projeto</button></a>
            {% for projeto in projetos %}
            <article>
            <!-- cada projeto é um article, 
            com um header com o nome do projeto e do professor, 
            e uma section com a lista de projetos-->
                <header>
                    <h3>{{ projeto.nome }}</h3>
                    <img src="{{ projeto.logo.url }}" alt="logo do logotipo {{ projeto.logo.name }}">
                    <p>Descrição: {{ projeto.descricao }}</p>
                    <p>Avaliação: {{ projeto.avaliacao }}</p>
                    <a href="{% url 'editar_projeto' projeto.id %}"> <button>Editar informação do Projeto</button></a>
                    <a href="{% url 'apagar_projeto' projeto.id %}"> <button>Apagar o Projeto</button></a>
                </header>
            </article>
            {% endfor %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>